#logo{
    width: 70px;
    height: 70px;
}

#background-main{
    background-image: url('imagens/pizza.png');
    background-size: cover;
    background-position: center;
}

main{
    background-image: url('imagens/pizza.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.form-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%; 
    max-width: 500px !important;
    opacity: 95%;
}

#rodape{
    height: 100px;
    padding-top: 15px;
}

#link-rodape:hover{
    color: rgb(96, 96, 96) !important;
}

.cor-de-fundo{
    background-color: rgb(30, 29, 29);
}

.com-mensagem {
    height: auto;
    padding-bottom: 20px;
}

.select-scroll {
    max-height: 40px; /* Altura do select fechado */
    overflow-y: hidden; /* Esconde a barra de rolagem por padrão */
  }
  
.select-scroll:focus {
    max-height: 150px; /* Expande a altura quando clicado */
    overflow-y: auto;  /* Mostra a rolagem ao clicar */
}

section.col-4 form {
    margin-top: auto; /* Joga o formulário para o final da section */
}

section {
    max-height: 430px; /* Joga o formulário para o final da section */
}

ul.list-group {
    flex-grow: 1;
    overflow-y: auto; 
    max-height: 250px; /* Define limite para rolagem */
}